*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E2ECFF;
}

.register-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #E2ECFF;;
}
#RegisterSecondTitle{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: #101010;
    font-style: italic;
}
#RegisterFirstTitle{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: #E2ECFF;
    background-color: #101010;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 75px;
    border-radius: 20px;
    letter-spacing: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
}
.register-container img{
    width: auto;
    height: 650px;
}
#MontreNoir{
    position: absolute;
    top: 90%;
    left: 96%;
    transform: translate(-50%, -50%);
}
#MontreRouge{
    position: absolute;
    top: 25%;
    left: 8%;
    transform: translate(-50%, -50%);
}
#Form-Register{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 450px;
    background-color: #EEF4FF;
    border-radius: 20px;
    box-shadow: 0 0 5px #101010;
}
.register-container #Form-Register input{
    position: relative;
    top: 20px;
    width: 300px;
    height: 40px;
    margin: 10px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #101010;
    outline: none;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    transition: all 0.3s ease;
    background-color: #EEF4FF;
}
.register-container #Form-Register input:focus{
    border-bottom: 2px solid #101010;
}
.register-container #Form-Register #submit-Register{
    position: relative;
    top: 30px;
    width: 300px;
    height: 40px;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #101010;
    color: #E2ECFF;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
}
.register-container #Form-Register .Connecter{
    position: relative;
    top: 50px;
    width: 300px;
    height: 40px;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #101010;
    color: #E2ECFF;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
}